/* footer */
.footer {
}
.footer .row{
  color: black;
}
.footer .image-footer img{
  width: 304px;
  padding: 0;
  margin: -42px;
  margin-bottom: 25px;
}
.contact form input ,
.contact form  textarea {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: none;
  width: 100%;
  color: white;
  padding-left: 10px;
  padding: 10px;
  border-radius: 5px;
}
.form-top_item{
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 4%;
}
/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

}
/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
  .form-top_item{
    display: grid;
    grid-template-columns: 100%;
    gap: 4%;
  }
 }
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  .form-top_item{
    display: grid;
    grid-template-columns: 100%;
    gap: 4%;
  }
  .list-unstyled {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
/* footer */
footer{
  background: var(--main-color);
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
}